<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People View</title>
</head>
<body>
<form action="/people" method="get">
    <p><input type="text" name="first_name" placeholder="First name"/>
        <input type="text" name="last_name" placeholder="Last name"/>
        <input type="submit" name="search_button" value="SEARCH"/>
    </p>
</form>
<table>
    <tr th:each="person : ${people}">
        <td><a th:href="@{/people/{id}(id=${person.getId()})}"
               th:text="|${person.getFirstName()} ${person.getLastName()}|">
        </a></td>
    </tr>
</table>
</body>
</html>