<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${person.getFirstName()} Details|">Person Details</title>
    <style>
    th, td {
    text-align: left;
}


    </style>
</head>
<body>
<a th:href="@{/people}">Go back</a>

<table>
    <caption/>
    Personal details
    <tr>
        <td>Name</td>
        <td th:text="|${person.getFirstName()} ${person.getLastName()}|"></td>
    </tr>
    <tr>
        <td>Gender</td>
        <td th:text="|${person.getGender()}|"></td>
    </tr>
    <tr>
        <td>Birthday</td>
        <td th:text="|${person.getBirthday()}|"></td>
    </tr>
    <tr>
        <td>Height</td>
        <td th:text="|${person.getHeight()}|"></td>
    </tr>
    <tr>
        <td rowspan="3">Address</td>
        <td th:text="|${person.getAddress().getStreetNumber()} ${person.getAddress().getStreetName()} Street|"></td>
    </tr>
    <tr>
        <td th:text="|${person.getAddress().getPostCode()} ${person.getAddress().getMunicipality()}|"></td>
    </tr>
    <tr>
        <td th:text="|${person.getAddress().getCity()} ${person.getAddress().getCountry()}|"></td>
    </tr>
    <tr>
        <td>Is eligible</td>
        <td>
            <p th:if="${param.get_aid_button}" th:text="${social_aid}"></p>
            <form th:unless="${param.get_aid_button}" th:action="@{/people/{id}(id=${person.getId()})}" method="get">
                <input type="submit" name="get_aid_button" value="Get Social Aid Amount">
            </form>
        </td>
    </tr>
</table>
<table>
    <caption/>
    <tr th:each="education : ${educations}">
        <td th:text="${education.getClass().getSimpleName()}"></td>
        <td th:text="${education.getInstitutionName()}"></td>
        <td th:text="${education.getEnrollmentDate()}"></td>
        <td th:text="${education.getGraduationDate()}"></td>
        <td th:unless="${education.hasGraduated()}">(expected date)</td>
    </tr>
</table>
<form th:action="@{/people/{id}(id=${person.getId()})}" method="post">
    <table>
        <caption/>
        Social Insurance Details
        <tr>
            <td>Year</td>
            <td>Month</td>
            <td>Insurance Amount</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="text" name="year" placeholder="Year" th:value="${year}"></td>
            <td><input type="text" name="month" placeholder="Month" th:value="${month}"></td>
            <td><input type="text" name="amount" placeholder="Amount" th:value="${amount}"></td>
            <td><input type="submit" name="add_button" value="Create new record"></td>
        </tr>
        <tr th:each="insurance : ${insuranceRecords}">
            <td th:text="${insurance.getYearMonth().getYear()}"></td>
            <td th:text="${insurance.getYearMonth().getMonthValue()}"></td>
            <td th:text="${insurance.getAmount()}"></td>
        </tr>
    </table>
</form>
</body>
</html>